@import url("/node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.min.css");

ul {
  list-style: none;
}

.rounded-table {
  border-collapse: separate;
  border-spacing: 0;
}

.rounded-table td,
.rounded-table th {
  /* border: 1px solid #dee2e6; */
  border-radius: 0.25rem;
  /* padding: 0.5rem; */
}
